<%- include('includes/head'); %>

<section class="container">
  <h1>
    Lorem, ipsum.
  </h1>
  <form action="/" method="post">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <label>cliente</label>
    <input type="text" name="cliente">
    <button>submit</button>

  </form>
</section>

<%- include('includes/footer'); %>
